/*****************
    CLASS GLOBAL
 ******************/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

i {
    margin-right: 10px;
}

.container {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 767px) {
    .container {
        width: 90%;
    }
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.no-p{
    padding: unset;
    margin: unset;
}

.anim{
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s ease-out;
    will-change: transform;
}

.anim:hover{
    transform: translate3d(0, 3px, 0)scale(1.1);
}

h3 {
    font-weight: bold;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

/* BOUTON */
button {
margin: 20px;
}
.custom-btn {
width: 130px;
height: 40px;
color: #fff;
border-radius: 5px;
padding: 10px 25px;
font-family: 'Lato', sans-serif;
font-weight: 500;
background: transparent;
cursor: pointer;
transition: all 0.3s ease;
position: relative;
display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
outline: none;
}

  /* / BOUTON */
