
/***********
header
***********/

/* bannière */
#header {
    background-image: url(../assets/barriere.jpg);
    background-size: cover;
    background-position: center 28%;
    height: 500px;
}
    

/* Bouton décoouvrir */
#header .btn {
  background-color: #bf081a;
  font-weight: 900;
  padding: 30px;
  color: white;
  font-size: x-large;
  border-radius: 0px;
  transform: translate(582px, 140px);
}


/************
    GALLERY
 ***********/

 /* titre */
#gallery .title {
    margin: 50px;
}

#gallery h3 {
    text-transform: capitalize;
}

#gallery div.row{
    max-width: 1650px;
    margin-left: auto;
    margin-right: auto;
}

/* card */
 #gallery .card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 310px;
    height: 400px;
    box-shadow: -1px 15px 30px -12px rgb(32, 32, 32);
    border-radius: 0.9rem;
    color: var(--text);
    cursor: pointer;
    margin: 70px 20px 20px 10px;
  }
  
  #gallery .card-img-top {
    margin-top: 50px;
  }
  
  #gallery .product-image {
    display: flex;
    justify-content: center;
    height: 230px;
    width: 100%;
    transform: translate(0, -1.5rem);
    transition: transform 500ms ease-in-out;
  }
  #gallery .product-info {
    text-align: center;
    text-transform: capitalize;
  }
  
  #gallery .product-info .nameSneakers {
    color: black;
    font-weight: bold;
  }
  
  #gallery .product-info .nameMarque {
    color: red;
    text-transform: uppercase;
    margin-top: 20pxWA;
  }
  
  #gallery .card:hover .product-image {
    transform: translate(-1.5rem, -7rem) rotate(-20deg);
  }
  
  #gallery .product-info h2 {
    font-size: 1.4rem;
    font-weight: 600;
  }
  
  #gallery .product-info p {
    margin: 0.4rem;
    font-size: 0.8rem;
    font-weight: 600;
  }
  #gallery .price {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 30px;
  }


/* bouton voir plus */
#gallery .btn-2{
    height: 53px;
    width: 219px;
    margin-top: 30px;
}


/***********
    section nettoyage
 ***********/
 #sectionNettoyage{
   margin-top: 100px;
   background-color: #ececec;
   padding-top: 30px;
   padding-bottom: 30px;
   box-shadow: 5px -3px 66px #aaa;
 }

 #sectionNettoyage .picture {
    background-image: url("https://media.istockphoto.com/id/157973580/fr/photo/les-baskets.jpg?s=612x612&w=0&k=20&c=6HVWJVxo5SRHyM4UXDADWwmfp_Lft1ZzrfG5juAz2wk=");
    background-size: cover;
    background-position: center 60%;
    height: 400px;
    border-radius: 15px;
    box-shadow: 8px 8px 12px #aaa;
    margin-bottom: 20px;
    transition: transform 0.3s;
}
#sectionNettoyage .picture:hover {
    transform: scale(1.05);
}


/* bouton formule nettoyage */

#sectionNettoyage .btn-2 {
  width: 200px;
  
  }



