/***********
    NAVBAR
 ***********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: white;
}

nav:after{
    content: '';
    clear: both;
    display: table;
}

nav .logo {
    float: left;
    color: black;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
    /* display: none; */
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

nav ul li {
   float: left;
    display: inline-block;
    margin : 0 5px

}

nav ul li a {
    color: black;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul li a:hover {
    color: red;
    border-radius: 5px;
    box-shadow: 0 0 5px red;
}

nav ul ul {
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    background-color: white;
    transition: top.3s;
}
nav ul li:hover > ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul ul li a {
    line-height: 50px;
}

.connexion{
    display: flex;
    justify-content: end;
    align-items: center;
}

.connexion button {
    height: 50px;
}

.navbar-item.is-mega {
    position: static;
}
.navbar-item.is-mega .is-mega-menu-title {
    margin-bottom: 0;
    padding: 0.375rem 1rem;
}
