.naviguation {
    font-weight: bold;
}

.logo a:hover {
    text-decoration: none;
    color: red;
}

/* Item de nav */
.navbar-item a:hover {
    color: red;
    text-decoration: none;
}

/* FLECHE DES SNEAKERS */
.navbar-link:not(.is-arrowless)::after {
    border-color: red;
}

/* BOUTON SE CONNECTER */
.button.is-primary {
    background-color: red;
}

