.card__one {
    transition: transform 0.5s;
}
.card__one::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    content: '';
    opacity: 0;
    z-index: -1;
}
.card__one:hover, .card__one:focus {
    transform: scale3d(1.06, 1.06, 1);
}
.card__one:hover::after, .card__one:focus::after {
    opacity: 1;
}

/* CARD SNEAKERS */
.cardSneaker {
    height: 200px;
    background-position: center;
    background-size: cover;
}

#search {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* PRICE RANGE */
#slider{
    margin: 50px;
  }
  .value {
    position: absolute;
    top: 30px;
    left: 50%;
    margin: 0 0 0 -20px;
    width: 40px;
    text-align: center;
    display: block;
    
    /* optional */
    
    font-weight: normal;
    font-family: Verdana,Arial,sans-serif;
    font-size: 14px;
    color: #333;
  }
  
  .price-range-both.value {
    width: 100px;
    margin: 0 0 0 -50px;
    top: 26px;
  }
  
  .price-range-both {
    display: none; 
  }
  
  .value i {
    font-style: normal;
  }
  body div.ui-slider-range.ui-widget-header {
      background: #F44336;
  }
  .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
      background: #2ecaf9 !important;
  }
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
      background: #2ecaf9 !important;
      border-radius: 50%;
      font-size:21px;
      border: none !important;
      box-shadow: 0 0 7px #306473;
      &:focus{
          outline: none;
      }
  }
  span.ui-slider-handle.ui-corner-all.ui-state-default:focus {
      outline: none;
  }