#socialMedia {
    margin-top: 100px;
    margin-bottom: 100px;
   }
  
#socialMedia .card {
    width: 400px;
    transition: transform 0.3s;
    box-shadow: 8px 8px 12px #aaa;
}

#socialMedia .card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#socialMedia .card:hover h3 {
    color: red;
}

#socialMedia .card:hover .card-body .card-text {
    font-weight: bold; 
}
  